<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591242324920-l862uv3iq5m734rkev3hkqand8njje76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591242324920-l862uv3iq5m734rkev3hkqand8njje76</string>
	<key>API_KEY</key>
	<string>AIzaSyAgih9zoAK61jXkDzPyL7renk5hZ4Kbgt4</string>
	<key>GCM_SENDER_ID</key>
	<string>591242324920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atendanceProject</string>
	<key>PROJECT_ID</key>
	<string>attendance-project-c8b23</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-project-c8b23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591242324920:ios:0d6f816f96bc7d75543d4d</string>
</dict>
</plist>